NAME=4-dudes-esports-bot
ID=4-dudes-esports-bot
RAM=100
VERSION=1.0.0
MAIN=index.js
TYPE=bot
AUTORESTART=true
AUTOUPDATE=true

{
  "name": "4-dudes-esports-bot",
  "version": "1.0.0",
  "main": "index.js",
  "type": "commonjs",
  "scripts": {
    "start": "node index.js"
  },
  "engines": {
    "node": "18.x"
  },
  "dependencies": {
    "discord.js": "^14.14.1",
    "dotenv": "^16.3.1"
  },
  "discloud": {
    "autoRestart": true,
    "autoUpdate": true,
    "main": "index.js",
    "version": "1.0.0"
  }
} 